# Environnement Général
DJANGO_SECRET_KEY=nexora-production-super-secret-key-change-this-now!
DJANGO_DEBUG=False
ALLOWED_HOSTS=*

# Base de Données (sqlite ou postgresql)
DB_ENGINE=postgresql
DB_NAME=nexora_db
DB_USER=nexora
DB_PASSWORD=nexora_secure_password_98765
DB_HOST=postgres
DB_PORT=5432

# Cache & Message Broker
REDIS_URL=redis://redis:6379/0

# Frontend Next.js
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
